#homepageLink {
	display: inline-block;
}

	#homepageLink > img {
		width: 100%;
		height: 100%;
	}

#navList {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav {
	display: inline-block;
}
	.nav > a {
		color:#FFFFFF;
		display: inline-block;
		padding:5px;
		border-style:outset;
		text-align:center;
		border-color:#500000;
		margin-bottom:10px;
		background-color:#404040;
	}
	
body{
		max-width: 900px;
		background-color:#000000;
		padding-left:50px;
		padding-right:50px;
		margin-left:auto;
		margin-right:auto;
	}
a{
		text-decoration:none;
	}
a.back{
		text-decoration:none;
		color:#FFFFFF;
	}
		
#current{
		border-style:inset;
		text-transform:uppercase;
		border-color:#500000;
		text-decoration:underline;
	}

	
.pageFooter{
	color:#500000;
	text-align:center;
	
	padding-top:2px;
	
	}

.topLink{
		text-align:center;
		font-size:12px;
		color:#FFFFFF;
	}

	
.insideBorder{
		background-color:#999999;
		padding:15px;
		border-color:#500000;
		border-style:solid;
		border-radius:50px;
		border-width:5px;
        overflow:hidden;
	}


.post {
	overflow: auto;
	padding-bottom: 10px;
}
	.post > img {
	    position: relative;
	    float:right;
	    display:inline-block; 
	}

.postTitle {
    border-bottom-style: solid;
    border-width: 3px;
    color: #000000;
    display: block;
    font-family: Tahoma,san-serif;
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 5px;
    text-align: right;
    width: 100%;
}

.postSubtitle {
    font-style: italic;
}
